<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExpressiveAssertions" version="0.9.7" targetFramework="net452" />
  <package id="ExpressiveAssertions.MSTest" version="0.9.7" targetFramework="net452" />
  <package id="ExpressiveLogging" version="1.0.3" targetFramework="net452" />
</packages>